.about {
  width: 100%;
  @include breakpoint-up(large) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    .container {
      padding-bottom: 0;
      margin-bottom: 0;
      padding-top: 0.5rem;
      align-self: center;
    }
  }

  h2 {
    font-size: $font-basic;
    margin-bottom: 1rem;
    font-variant: all-small-caps;
    letter-spacing: 0.3rem;
    font-weight: $font-bold;
    color: $black;
  }

  img {
    width: 100%;
    height: auto;
    @include breakpoint-up(large) {
      width: 29%;
    }
  }
}
