.cfa {
  padding-top: 0px;
  button {
    width: 14.4375rem;
    font-variant: all-small-caps;
    font-size: $font-basic;
    letter-spacing: 0.6rem;
    text-align: left;
    background-image: url(../images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
    transition: transform 10s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}
