.footer {
  background-color: $darkBlue;
  color: $veryLightGray;
  text-align: center;
  font-size: 0.85rem;

  .container {
    @include breakpoint-up(large) {
      display: grid;
      grid-template-columns: 2fr 2fr 3fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "logo links cta"
        "social links copy";
      align-items: start;
      justify-content: space-around;
      align-content: stretch;
      gap: 1rem;

      //justify-items: stretch;
    }
  }
  &__logo {
    display: block;
    margin-bottom: 1.85rem;
    @include breakpoint-up(large) {
      margin-bottom: 0px;
      grid-area: logo;
      text-align: left;
    }
  }

  &__social {
    @include breakpoint-up(large) {
      grid-area: social;
      text-align: left;
      margin-bottom: 0px;
      align-self: end;
    }
    margin-bottom: 1.85rem;
    a {
      display: inline-block;
      height: 1.25rem;
      svg path {
        transition: fill 200ms ease-in-out;
      }
      &:hover svg path {
        fill: $brightCyan;
      }
    }

    a:not(:last-child) {
      margin-right: 0.7rem;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
    @include breakpoint-up(large) {
      flex-direction: row;
      justify-content: center;
      grid-area: links;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    .col {
      display: block;
      flex: 1;
      @include breakpoint-up(large) {
        margin-right: 2rem;
      }
    }

    a {
      display: block;
      color: $white;
      line-height: 2rem;
      transition: all 200ms ease-in-out;
      &:hover {
        color: $brightCyan;
      }

      @include breakpoint-up(large) {
        text-align: left;
      }
    }
  }
  &__cta {
    margin-bottom: 2rem;
    @include breakpoint-up(large) {
      margin-bottom: 0px;
      grid-area: cta;
      text-align: right;
    }
  }
  &__copy {
    text-align: center;
    font-size: 0.8rem;
    color: $grayishBlue;
    @include breakpoint-up(large) {
      margin-bottom: 0px;
      grid-area: copy;
      text-align: right;
      align-self: end;
    }
  }
}
