.hero {
  //hero sections: articles, navigation, cta

  @include breakpoint-up(large) {
    display: grid;
    grid-template-columns: 58.4% auto;
    grid-template-rows: auto auto 4rem;
    gap: 0;
  }

  &__articles {
    //width: 100%;
    @include breakpoint-up(large) {
      grid-column: 1 / span 2;
      grid-row: 1 / span 3;
      justify-self: stretch;
      align-self: stretch;
    }
    &__item {
      @include breakpoint-up(large) {
        display: grid;
        gap: 0;
        grid-template-columns: 58.4% auto;
      }

      &__picture {
        //width: 100%;
        @include breakpoint-up(large) {
          grid-column: 1;
        }
        img {
          margin: 0;
          width: 100%;
          height: auto;
          @include breakpoint-up(large) {
            height: 100%;
          }
        }
      }
      &__text {
        box-sizing: content-box;
        width: auto;
        height: auto;
        @include breakpoint-up(large) {
          grid-column: 2;
        }
      }
    }
  }

  &__navigation {
    position: absolute;
    background-color: $black;
    font-size: 0; //to remove space between buttons
    left: calc(100vw - 3.4375rem * 2 - 0.5rem);
    top: calc(96vw - 3.4375rem);
    width: calc(3.4375rem * 2 + 0.5rem);
    @include breakpoint-up(large) {
      position: static;
      grid-row: 3;
      grid-column: 2;
      justify-self: stretch;
      align-self: stretch;
    }
    button {
      background-color: inherit;
      background-color: $black;
      height: 3.4375rem;
      width: 3.4375rem;
      svg {
        path {
          stroke: $darkGray;
          transition: stroke 40ms ease-in-out;
        }
      }

      &:hover {
        svg {
          path {
            stroke: $white;
          }
        }
      }
    }
  }
  &__cfa {
    padding-top: 0px;
    @include breakpoint-up(large) {
      padding-top: 2rem;
      padding-bottom: 2rem;
      grid-row: 2;
      grid-column: 2;
      align-self: start;
      justify-self: center;
    }
    button {
      width: 14.4375rem;
      font-variant: all-small-caps;
      font-size: $font-basic;
      letter-spacing: 0.6rem;
      text-align: left;
      background-image: url(../images/icon-arrow.svg);
      background-repeat: no-repeat;
      background-position: right;
      transition: transform 10s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
